<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.sotoestevez.allforone">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_full"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.4l1app.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.launch.LaunchActivity"
            android:exported="true"
            android:label="@string/title_activity_launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.bonds.BondsActivity"
            android:exported="true"
            android:label="@string/title_activity_bonds" />
        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.feed.FeedActivity"
            android:exported="true"
            android:label="@string/title_activity_feed"
            android:theme="@style/Theme.4l1app" />
        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.keeper.KeeperMainActivity"
            android:exported="true"
            android:label="@string/title_activity_keeper_main" />
        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.location.LocationActivity"
            android:exported="true"
            android:label="@string/title_activity_location" />
        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.patient.PatientMainActivity"
            android:exported="true"
            android:label="@string/title_activity_patient_main" />
        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.keeper.qr.QRScannerActivity"
            android:exported="true"
            android:label="@string/title_activity_qr" />
        <activity
            android:name="dev.sotoestevez.allforone.ui.activities.setup.SetUpActivity"
            android:exported="true"
            android:label="@string/title_activity_set_up" />

    </application>

</manifest>